{
    "tabWidth": 4,
    "printWidth": 150,
    "eslintIntegration": true,
    "singleQuote": true,
    "trailingComma": "all",
    "semi": false,
    "endOfLine": "auto",
    "vueIndentScriptAndStyle": true,
    "htmlWhitespaceSensitivity": "ignore",
    "arrowParens": "avoid"
}
